doctype html
html(lang="pt")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Events+ | #{title || "Dashboard"}
    link(rel="stylesheet", href="/css/style.css")
  body(class="bg-slate-100 min-h-screen flex flex-col")

    // NAVBAR AUTENTICADA
    header(class="bg-white shadow-sm")
      include ../components/navbar.pug

    main(class="flex-1")
      block content

    include ../components/footer.pug
