doctype html
html(lang="pt")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Event+ | #{title}
    link(rel="stylesheet", href="/css/style.css")
  body(class="bg-slate-100 min-h-screen flex flex-col")

    header(class="bg-white/80 backdrop-blur shadow-sm")
      include ../components/landing_navbar.pug

    main(class="flex-1")
      block content

    include ../components/footer.pug